@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0 auto;
    /* font: normal 400 1rem 'Roboto', sans-serif; */
}

.center {
    max-width: 75rem;
    padding: 0 1rem;
}


/* Variáveis */

:root {
    --cinza: #f3f3f3;
    --cinza2: #e2e2e2;
    --azul: #184CFC;
    --azul2: #0038CE;
    --azullogo: #051232;
    --azullogo2: #050f66;
}
/* azul #02C1F7 */

html {
    scroll-behavior: smooth;
}

/* Menu */

.cont-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header {
    padding: 0.5rem;
    background-color: var(--azul);
}

.menu {
    float: left;
}

.menu a:hover {
    color: red;
}

.menu li {
    position: relative;
    float: left;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    display: block;
    color: white;
    margin: 0.4rem;
    font: normal 500 1rem 'Roboto', sans-serif;
}

#btnServices {
    cursor: pointer;
}

.navdown {
    display: none;
}

.navdown > li > a{
    color: black;
    margin: 0;
    padding: 0.6rem;
}

.navdown > li > a:hover{
    border-radius: 0.2rem;
    background: var(--cinza2);
}

.menu li ul {
    position: absolute;
    background-color: white;
    display: none;
}

.menu li:hover ul {
    display: block;
    border-radius: 0.2rem;
}

.menu li ul li {
    display: block;
    width: 16rem;
}

#btn-client {
    background: var(--azullogo2);
    font: normal 500 1rem 'Roboto', sans-serif;
    padding: 0.55rem 1.0rem;
    border: none;
    border-radius: 0.7rem;
    color: white;
    cursor: pointer;
}

#btn-client:hover {
    background: var(--azullogo);
}

/* Rodapé */

footer {
    background-color: black;
}

.warn-footer {
    padding: 1rem 0;
    text-align: center;
    color: white;
    font: normal normal 400 0.7rem 'Roboto', sans-serif;
}

.infoemp {
    padding: 1rem 0;
}

.infoemp>h1 {
    font: normal 400 0.9rem 'Roboto', sans-serif;
    color: white;
}

.infoemp > p {
    font: normal 400 0.9rem 'Roboto', sans-serif;
    color: white;
}

.footer-flex {
    display: flex;
}

.footer-flex h1 {
    color: white;
    font: normal normal 500 1rem 'Roboto', sans-serif;
}

.copyright {
    color: white;
    padding: 1rem;
    text-align: center;
    font: normal 400 0.8rem 'Roboto', sans-serif;
}